<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.reformfitapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalVariableApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReformfitApp.NoActionBar">
        <activity android:name=".expandedFunc.blogNews.BlogEx7"></activity>
        <activity android:name=".expandedFunc.blogNews.BlogEx6" />
        <activity android:name=".expandedFunc.blogNews.BlogEx5" />
        <activity android:name=".expandedFunc.blogNews.BlogEx4" />
        <activity android:name=".expandedFunc.blogNews.BlogEx3" />
        <activity android:name=".serviceInfo.LinkWebview" />
        <activity android:name=".expandedFunc.blogNews.BlogEx2" />
        <activity android:name=".LiveChat" />
        <activity android:name=".expandedFunc.blogNews.BlogEx1" />
        <activity android:name=".expandedFunc.blogNews.BlogNews" />
        <activity android:name=".expandedFunc.DietHealth" />
        <activity android:name=".PrivateTrainingInfo" />
        <activity android:name=".purchaseFragment.PrivateLessonPurchaseWebview" />
        <activity android:name=".expandedFunc.YongjiuReportEx" />
        <activity android:name=".expandedFunc.YongjiuHealth" />
        <activity
            android:name=".expandedFunc.BMRCalculator"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".expandedFunc.TDEECalculator"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".expandedFunc.BMICalculator"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".serviceInfo.PrivateClassInfo" />
        <activity android:name=".serviceInfo.ShapeClassInfo" />
        <activity android:name=".serviceInfo.FatBurnInfo" />
        <activity
            android:name=".MainBottomNaviService"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProgressBarAcitvity" />
        <activity
            android:name=".ClassInfo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ServiceTabbed"
            android:label="@string/title_activity_service_tabbed"
            android:theme="@style/Theme.ReformfitApp.NoActionBar" />
        <activity android:name=".LocationInfo" />
        <activity
            android:name=".TabbedActivityPurchase"
            android:label="@string/title_activity_service_tabbed"
            android:theme="@style/Theme.ReformfitApp.NoActionBar" />
        <activity
            android:name=".purchaseFragment.PassPurchasePage"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".purchaseFragment.MembershipPurchasePage"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".purchaseFragment.PrivateLessonMemberPurchasePage"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>